// name the app with the module name 'myApp' which is going
// to be defined in the app.js section

#navbar{ 'ng-controller' => 'operationsController'}
  = render 'navbar'

  #clock{ 'ng-if' => 'operations.clock.visible;'}
    = render 'clock'

